.board-container
  h1 SocketBall.biz {{game.rounds}} {{message}}
  img(src="img/header-instructions-2.png")
  .score.left {{game.team.left.score}}
  .score.right {{game.team.right.score}}
  .board
    .ball-container
      .ball(ball="true", init-x="initX", init-y="initY", score="score")
      .paddle.left(position="leftPosition", move-paddle="true", ng-class="paddleGlow")
      .paddle.right(position="rightPosition", move-paddle="true", ng-class="paddleGlow")
  .stats
    p Left Team:
      span {{game.team.left.players}} players
    p Right Team:
      span {{game.team.right.players}} players
  .goal(ng-class="{visible: excited, explode: excitedClimax}")
    h1 GOAL!!!
  button.start-button(explode, ng-click="playGame()", ng-show="!game") PLAY
