.board-container
  h1 SocketBall.biz
  img(src="img/header-instructions.png")
  .score.left 1
  .score.right 0
  .board
    .ball-container
      .ball
      .paddle.left(position="leftPosition", move-paddle="true")
      .paddle.right(position="rightPosition", move-paddle="true")
  .stats
    p Left Team:
      span {{game.team.left.size}} players
    p Right Team:
      span {{game.team.right.size}} players
  .goal
    h1 GOAL!!!
  #sounds
    
a(href="#current", onclick="clicksound") playsound
