.board-container
  h1 SocketBall.biz
  .score.left 234
  .score.right 234
  .board
    .ball
    .paddle.left
    .paddle.right
  .stats
    p Left Team:
      span 234 users
    p Right Team:
      span 391 users
  .goal
    h1 GOAL!!!