.board-container
  h1 SocketBall.biz
  .score.left 234
  .score.right 234
  .board
    .ball
    .paddle.left(position="leftPosition", move-paddle="true")
    .paddle.right(position="rightPosition", move-paddle="true")
  .stats
    p Left Team:
      span {{game.team.left.size}} users
    p Right Team:
      span {{game.team.right.size}} users
  .goal
    h1 GOAL!!!

