.mobile-container
  .mobile
    .header
      h1 SocketBall Controller
    .slider
      .gutter
      .ball(position="gutterBallPosition", move-gutter-ball="true")
    .help(ng-click="open=open?true:false", ng-class="{open:open}")
      img.help-icon(src="/img/help-icon.png", ng-hide="open")
      img.help-contents(src="/img/help-graphic-3.png")
    .team-display
      h2.uppercase {{paddle}} TEAM
  .goal
    h1 GOAL!!!
  .disconnected
    .message
      h2 You have been disconnected.
      h3 Reconnecting... please wait
      h3 Refresh if you are impatient
  .tutorial(fade-out)