.mobile-container
  .mobile
    .header
      h1 SocketBall Controller
    .slider
      .gutter
      .notch
    .stats
      div x: {{x}}
    .help
      img.help-icon(src="/img/help-icon.png")
      img.help-contents(src="/img/help-graphic-3.png")