!!!
html(ng-app="multiplayerPong")
  head
    meta(charset='utf8')
    base(href='/')
    title SocketBall.biz
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Gruppo')
  body
    block body