/* app css stylesheet */

body {
  margin:0px;
  padding:0px;
  color:#222;
  background:url('/img/binding_dark.png');
}

/* Board Layout */

.board-container {
  font-family: 'Gruppo', cursive;
  color:#fff;
  height:100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.board-container h1 {
  text-align:center;
  font-size:48px;
  margin-top:12px;
  color:#ddd;
}

.stats {
  position:absolute;
  bottom:10px;
  width:100%;
  text-align:center;
}

.stats p {
  text-align:center;
  display:inline;
  font-size:24px;
  margin:24px;
}

.stats span {
  font-size:36px;
  margin:10px;
}

.stats div {
  font-size:16px;
  color:#bbb;
}

.board {
  width:100%;
  height:500px;
  top:100px;
  position: absolute;
  background:rgba(0,0,0,0.3);
  box-shadow:0px 10px 25px #000 inset;
  border-top:1px solid rgba(255,255,255,0.1);
  border-bottom:1px solid rgba(255,255,255,0.1);
}

.paddle {
  height:160px;
  width:40px;
  background-color: #eee;
  box-shadow: inset -25px -25px 40px rgba(0,0,0,.3);
  background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
  background-image: -moz-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);  
  background-image: -o-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
  background-image: -ms-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
  position:absolute;
}

.paddle.left {
  left:0px;
  top:240px;
  border-top-right-radius:8px;
  border-bottom-right-radius:8px;
}

.paddle.right {
  right:0px;
  top:200px;
  border-top-left-radius:8px;
  border-bottom-left-radius:8px;
}

.score {
  margin:0px 6px;
  font-size:92px;
  position:absolute;
  color:#666;
}

.score.left {
  top:0px;
  left:0px;
}

.score.right {
  top:0px;
  right:0px;
}

.goal {
  z-index: 100;
  width:100%;
  height:100%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background:rgba(0,0,0,0.5);
  -webkit-transition: 0.8s;
  opacity:0;
  pointer-events:none;
}

.visible {
  opacity:1;
  display:block;
  z-index:9999999;
}

.goal h1 {
  text-align:center;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height:100px;
  width:100%;
  font-size:124px;
  -webkit-transition: 0.3s;
  -webkit-transform: translateY(-50px) translateZ(300px) rotate(-10deg);
  opacity:0;
}

.mobile-container .goal h1{
  font-size:64px;
}

.goal.visible h1 {
  opacity:1;
  -webkit-transform: translateY(0px) translateZ(0px) rotate(0deg);
}

.explode {
  -webkit-transform: scale(2) rotate(10deg)!important;
  opacity:0!important;
}

/* Mobile Layout */
.mobile-container {
  font-family: 'Gruppo', cursive;
  color:#fff;
  height:100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;

}

.mobile {
  width:94%;
  height:90%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background:rgba(255,255,255,0.95);
  border-radius:6px;
  box-shadow:0px 10px 25px #000;
}

.mobile .header {
  width:100%;
  height:auto;
  background:rgba(255,255,255,0.25);
  box-shadow:0px 1px 3px #999;
  border-top-right-radius:6px;
  border-top-left-radius:6px;
  color:#666;
  z-index: 1000;
}

.mobile h1 {
  text-align: center;
  margin:0px;
  padding:16px 0px;
  color:#333;
  font-size:24px;
}

.mobile .stats {
  color:#333;
}

.slider {
  width:100%;
  height:60%;
  position: relative;
  margin-top: 40px;
}

.gutter {
  width:105px;
  height:100%;
  position: relative;
  margin:10% auto;
  background:#c9c9c9;
  border-radius:128px;
  box-shadow:0px 6px 16px rgba(0,0,0,0.3) inset;
  border:2px solid rgba(0,0,0,0.3);
}

.notch {
  width:44%;
  height:30%;
  border-radius:50%;
  border:2px solid rgba(255,255,255,0.75);
  box-shadow:0px 1px 2px 2px #666;
  position:absolute;
  left:50%;
  margin-left:-22%;
  top:20%;
  background:#f66;
  -webkit-transition:1s ease;
}

.notch:active {
  top:60%;
  background:#6f6;
}

.help {
  position:absolute;
  bottom:10px;
  left:10px;
  width:25px;
  height:25px;
  background:none;
  border-radius:50%;
  -webkit-transition:.4s ease-in-out;
  z-index: 10000;
  cursor: pointer;
}

.help.open {
  width:80%;
  height:80%;
  background:rgba(0,0,0,0.9);
  border-radius:0px;
  bottom:10%;
  left:10%;
  box-shadow:0px 0px 75px 75px rgba(0,0,0,0.9);
}

.help .help-contents {
  opacity:0;
  width:100%;
  height:auto;
  margin:0px;
  -webkit-transition:.5s ease-in-out;
}

.help.open .help-contents {
  opacity:1;
}

.help .help-icon {
  width:25px;
  position:absolute;
  bottom:0px;
  left:0px;
  border-radius:500px;
}

/* 3d Ball elements */

.ball-container {
  position:absolute;
  top:0px;
  bottom:0px;
  left:40px;
  right:40px;
}

.ball {
  display: block;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border-radius: 50%;
  box-shadow: inset -25px -25px 40px rgba(0,0,0,.3);
  background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
  background-image: -moz-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);  
  background-image: -o-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
  background-image: -ms-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
  position:absolute;
  top:0px;
  left:0px;
  -webkit-transition: all 2s linear;
}

.ball.going-right {
  margin-left:-100px;
  left:100%;
}

.ball.going-down {
  margin-top:-100px;
  top:100%;
}

.slider .ball {
  left:50%;
  margin-left:-50px;
  background:#666;
  -webkit-transition: all .05s linear;
}

.ball.explode {
    opacity: 0;
    -webkit-transform: scale(3) rotate(10deg);
}
