/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

body {
  margin:0px;
  padding:0px;
  background:url('/img/binding_dark.png');
}

/* Board Layout */

.board-container {
  font-family: 'Gruppo', cursive;
  color:#fff;
  height:100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.board-container h1 {
  text-align:center;
  font-size:48px;
  margin-top:0px;
}

.stats {
  position:absolute;
  bottom:10px;
  width:100%;
  text-align:center;
}

.stats p {
  text-align:center;
  display:inline;
  font-size:24px;
  margin:24px;
}

.stats span {
  font-size:36px;
  margin:10px;
}

.board {
  width:100%;
  height:500px;
  top:100px;
  position: absolute;
  background:rgba(0,0,0,0.2);
  box-shadow:0px 10px 25px #000 inset;
}

.paddle {
  height:140px;
  width:18px;
  border-radius:2px;
  background-color: #eee;
  box-shadow: inset -25px -25px 40px rgba(0,0,0,.3);
  background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
  background-image: -moz-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);  
  background-image: -o-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
  background-image: -ms-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
  position:absolute;
}

.paddle.left {
  left:18px;
  top:240px;
}

.paddle.right {
  right:18px;
  top:200px;
}

/* Mobile Layout */
.mobile-container {
  font-family: 'Gruppo', cursive;
  color:#fff;
  height:100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.mobile {
  width:94%;
  height:90%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background:rgba(255,255,255,0.5);
  border-radius:6px;
  box-shadow:0px 10px 25px #000;
}

.mobile .header {
  width:100%;
  height:auto;
  background:rgba(255,255,255,0.25);
  box-shadow:0px 1px 3px #666;
  border-top-right-radius:6px;
  border-top-left-radius:6px;
}

.mobile h1 {
  text-align: center;
  margin:0px;
  padding:16px 0px;
}



/* 3d Ball elements */

.ball {
  display: block;
  width: 100px;
  height: 100px;
  margin: 30px auto 0;
  background-color: #eee;
  border-radius: 50%;
  box-shadow: inset -25px -25px 40px rgba(0,0,0,.3);
  background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
  background-image: -moz-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);  
  background-image: -o-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
  background-image: -ms-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
  position:absolute;
  top:40%;
  left:0%;
  -webkit-transition: all 1s linear;
}

.ball.hit {
  left:100%;
  margin-left:-100px;
}

